# Android/IntelliJ
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_*
*.dex
*.class
*.log
*.keystore

# Android Studio
.idea/
*.iws
*.ipr
*.iml

# Gradle
.gradle/
build/

# Others
*.swp
*.swo
*.tmp

# Mac
.DS_Store

# Windows
Thumbs.db

